CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_fdisk=y
# CONFIG_PACKAGE_gdisk=y
# CONFIG_PACKAGE_cgdisk=y
CONFIG_PACKAGE_sfdisk=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_blkid=y
