# TARGET config
CONFIG_TARGET_airoha=y
CONFIG_TARGET_airoha_an7581=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y

# 华三 HM2004-DU
CONFIG_TARGET_DEVICE_airoha_an7581_DEVICE_h3c_hm2004-du=y
CONFIG_TARGET_DEVICE_PACKAGES_airoha_an7581_DEVICE_h3c_hm2004-du=""

# ================= 镜像与文件系统 =================
CONFIG_LINUX_6_18=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_INITRAMFS=n
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y

# ================= 包管理 (apk) =================
CONFIG_USE_APK=y
CONFIG_SIGNED_PACKAGES=y
CONFIG_SIGNATURE_CHECK=y
CONFIG_DOWNLOAD_CHECK_CERTIFICATE=y
CONFIG_SIGN_EACH_PACKAGE=y
CONFIG_SIGN_FIRMWARE=y

# ================= 编译选项 =================
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_PKG_FORTIFY_SOURCE_1=y
CONFIG_PKG_RELRO_FULL=y
CONFIG_PKG_DT_RELR=y
CONFIG_PKG_CHECK_FORMAT_SECURITY=y
CONFIG_PKG_ASLR_PIE_REGULAR=y
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
CONFIG_KERNEL_STACKPROTECTOR=y
CONFIG_USE_SSTRIP=y
CONFIG_SSTRIP_DISCARD_TRAILING_ZEROES=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_MOLD=y
CONFIG_IPV6=y
CONFIG_KERNEL_IPV6=y

# ================= PON 链路核心包 =================
CONFIG_PACKAGE_kmod-airoha-xpon=y
CONFIG_PACKAGE_kmod-airoha-pon-frontend=y
CONFIG_PACKAGE_airoha-pond=y
CONFIG_PACKAGE_airoha-ponctl=y
CONFIG_PACKAGE_luci-app-pon=y

# ================= H3C FTTR Micro-OLT 专属组件 =================
CONFIG_PACKAGE_kmod-h3c-fmcs=y
CONFIG_PACKAGE_h3c-fttr-tools=y
CONFIG_PACKAGE_h3c-fmcs-firmware=y
CONFIG_PACKAGE_mosquitto-ssl=y

# ================= 硬件驱动与固件 (公共库) =================
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7916-firmware=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_zoneinfo-asia=y

# ================= 基础网络与系统工具 =================
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_openssh-sftp-server=y
